{% extends "layout/base.twig" %}

{% from "macro/common.twig" import primary_button, secondary_button, button_group, checkbox_field, textarea, alert %}

{% block body %}
    {% include 'include/error.twig' %}

    <form method="post">
        <div class="mb-4 flex">
            <span class="mr-2">{{ primary_button("Format", size="lg", icon="Ok", attrs={ "type": "submit" }) }}</span>
            <span class="mr-4">{{ secondary_button("Copy", size="lg", icon="clipboard", attrs={"onclick": "$.copy($('#content').value())"}) }}</span>
            <span class="mr-4 group-btn">
                {{ button_group("ext", ext, [
                    {"key": "ts", "value": "TypeScript", "selected": true},
                    {"key": "js", "value": "JavaScript"},
                    {"key": "json", "value": "JSON"},
                    {"key": "html", "value": "HTML"},
                    {"key": "md", "value": "Markdown"},
                    {"key": "css", "value": "CSS"},
                    {"key": "nginx", "value": "Nginx"},
                ], size="lg") }}
            </span>
            <span class="inline-flex items-center">
                {{ checkbox_field("indent2", "indent 2 spaces", indent2) }}
            </span>
        </div>

        <div>
            {{ textarea("content", content, attrs={"rows": 20, "autofocus": true}) }}
        </div>
    </form>

{% endblock %}
