{% extends "layout/base.twig" %}

{% from "macro/common.twig" import primary_button, secondary_button, secondary_link, input_number, input_text, input_file, textarea %}


{% block body %}
    {% include 'include/error.twig' %}

    <div class="w-1/2 mx-auto">
        <form method="get">
            <div class="flex items-center gap-4 mb-4">
                {{ input_number("count", count, attrs={"min": "1", "max": "1000", "placeholder": "Max 1000", "class": "w-full font-mono"}) }}
                <span class="whitespace-nowrap">1 ~ 1000</span>
                {{ primary_button("Generate", size="lg", icon="ok", attrs={"type": "submit"}) }}
            </div>
        </form>
        <div class="mb-8">
            {{ textarea("uuids", uuids | join("\n"), attrs={"readonly": true, "class": "w-full font-mono", "rows": 5}) }}
            <div class="mt-4 flex gap-4">
                {{ secondary_button("Copy All UUIDs to Clipboard", size="lg", icon="copy", attrs={"class": "justify-center grow", "onclick": "$.copy($('#uuids').value())"}) }}
                {{ secondary_link("Download as file", size="lg", icon="download", attrs={"href": "data:text/plain;charset=utf-8," ~ uuids | join("%0A"), "download": "uuids.txt", "class": "justify-center grow"}) }}
            </div>
        </div>
        <ul class="space-y-4">
            {% for uuid in uuids %}
                <li class="flex items-center justify-between gap-x-4">
                    {% set id = 'uuid_' ~ loop.index %}
                    {{ input_text(id, uuid, attrs={"readonly": true, "class": "w-full font-mono"}) }}
                    {{ secondary_button("", size="lg", icon="clipboard", attrs={"onclick": "$.copy($('#"+ id +"').value())"}) }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
